@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lora&family=Questrial&family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Dancing+Script:wght@500&family=Passions+Conflict&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Dancing+Script:wght@500&family=Lobster&family=Passions+Conflict&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

body{
  width: 100%;
  background:white;
}
a{
  text-decoration: none;
}
ul{
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  background-color: #674747;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.navbar .logo{
  margin-left: 30px;
}

.cari{
  border-radius: 10px;
  width: 5cm;
}

 input[type=text] {
  width: 200%;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('searchicon.png');
  background-position: 20px 20px; 
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
 }
.nav-links a {
  color: #fff;
  font-family: 'Abyssinica SIL', serif;
}
 
.menu {
  display: flex;
  gap: 1em;
  font-size: 18px;
}

.menu .exo:hover{
  text-decoration: underline;
  background-color: #7D6E83;
  border-radius: 5px;
  transition: 0.3s ease;
}
/*  */
.menu li {
  padding: 5px 14px;
 }

input[type=checkbox]{
  display: none;
 } 

 .hamburger {
  display: none;
  font-size: 24px;
  user-select: none;
 }

@media (max-width: 768px) {
  .menu { 
  display:none;
  position: absolute;
  background-color:white;
  right: 0;
  left: 0;
  text-align: center;
  padding: 16px 0;
 }
 .menu li:hover {
  display: inline-block;
  background-color:#c0c7d1;
  transition: 0.3s ease;
 }
 .menu li + li {
  margin-top: 12px;
 }
 input[type=checkbox]:checked ~ .menu{
  display: block;
 }
 .hamburger {
  display: block;
 }
}

/* iklan */
.row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
  padding: 0 30px;
}

.col-2{
  min-width: 230px;
}

.col-2 img{
  max-width: 100%;
  padding: 10px 0 ;
}

/* menu */
.container{
  padding-bottom: 30px ;
  width: 100%;
  min-height: 200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px 0 ;
  position: relative;
 
}

 .container h2{
  position: absolute;
  display: flex;
  text-align: center;
  padding: 5px 10px;
  background: #D0B8A8;
  border-radius: 10px;
  color: black; 
  /* display: flex;
  justify-content: center; */
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 30px;
  letter-spacing: 6px;
  opacity: 0.9;
}

.container1 h2{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  background-color: #674747;
  letter-spacing: 1rem;
  font-family: 'Dancing Script', cursive;
}

.container2{
  background-color: #674747;
}

.container2 h2{
  font-family: 'Abyssinica SIL', serif;
}

.container3{
  background-color: #674747;
}

.container3 h2{
  font-family:'Abyssinica SIL', serif;
}

.card{
  cursor: pointer;
  position: relative;
  background:#D0B8A8;
  border: 1px solid white;
  padding: 20px;
  margin-top: 80px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 150px;
  border: 1px solid #cce7d0;
  border-radius: 25px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  transition: 0.6s ease;
}

.card:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transform: translateY(-10px);
}

.container .card .content{
  text-align: start;
  max-height: 200px;
  border-radius: 20px;
}

.container .card .deskrip{
  padding: 10px 0;
}

.card .deskrip span{
  padding: 12px 0;
  color: black;
  font-size: 16px;
  font-weight: 900;
}

.card .deskrip .star{
  width: 15px;
  color: yellow;
  margin: 5px 0;
}

.card .deskrip h4{
  color: #781C68;
  font-size: 14px;
  margin-top: 5px;
}

.card .deskrip h5{
  padding-top: 3px;
  font-size: 12px;
}
#test::after{
  background-color: red;
}
.card  .cart{
  position: absolute;
  bottom: 25px;
  left: 180px;
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50px;
  background-color: white;
  color: black;
  border: 1px solid #cce7d0;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.card  p .cart:hover{
  color: white;
}

@media (max-width: 650px) {
  .container{
    padding: 5px;

  }  
  .container .card {
    text-align: start;
    display: grid;
    grid-template-columns: auto;
    max-height: 350px;
    padding: 10px;
  }
}
@media (max-width: 390px){
  .container .card {
    margin-top: 120px;
  }
}


/* about me */
section{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-height: 70vh;
  width: 80%;
  margin-left: 8em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 12px
}
.image{
  background-color: #674747;
  display: flex;
  align-items: center;
  border-radius: 12px 0 0 12px;
}
.image img{
  height:50vh;
  margin:50px auto;
  border-radius: 20px;
}
.content{
  background-color: #674747;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  border-radius: 0  12px 12px 0;
  color: black;
}

.content4{
  background: #D0B8A8;
  padding: 10px 15px;
}
.content h2{
  margin-top: 30px;
  text-transform: uppercase;
  font-size: 36px;
  letter-spacing: 6px;
  opacity: 0.9;
}
.content span{
  height: 0.5px;
  width: 80px;
  background: black;
  margin: 30px 0;
}

.content p{
  padding-bottom: 15px;
  font-weight: 300;
  opacity: 0.7;
  width: 60%;
  text-align: center;
  margin: 0 auto;
  line-height: 1.7;
  color:black
}

.icons{
  display: flex;
  padding: 15px 0;
}
.icons li{
  display: block;
  padding: 5px;
  margin: 5px;
}
.icons li i{
  font-size: 26px;
  opacity: 0.8;
}
.icons li i:hover{
  color: black;
  cursor: pointer;
}

/* footer */

@media(max-width: 900px){
  section{
      grid-template-columns: 1fr;
      width: 100%;
      border-radius: none;
  }
  .image{
      height: 100vh;
      border-radius: none;
  }
  .content{
      height: 100vh;
      border-radius: none;
  }
  .content h2{
      font-size: 20px;
      margin-top: 50px;
  }
  .content span{
      margin: 20px 0;
  }
  .content p{
      font-size: 14px;
  }

  .icons li i{
      font-size: 15px;
  }
}

.credit{
  text-align: center;
  color: #000;
}

.credit a{
  text-decoration: none;
  color:#000;
  font-weight: bold;
} 

.footer{
  background: #674747;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.footer p{
  color: white;
  float: left;
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}
.footer p a{
 color:#FFF6BF;
 font-size: 16px;
 text-decoration: none;
}
.footer span{
   text-transform: uppercase;
   opacity: .4;
   font-weight: 200;
}

.link-icons{
  display: flex;
  justify-content: center;
  align-items: center;
  background: #D0B8A8;
}

.biodata span{
  font-size: 40px;
  background: transparent;
} 